<form action="/basic" method="GET" enctype="multipart/form-data">
<input type="hidden" name="secret" value="Super secret!!">
<div class="'mb-3">
    <label class"form-lable" ofr="color">Your favorite color: </label>
    <input class="form-control" type="text" name="color" vaule="">
</div>
<div class="'mb-3">
    <button type="submit">Submit</button>
</div>

</form>